<ion-header>
    <ion-toolbar color="dark" text-center>

        <ion-title>{{user.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
    <ion-card>
        <img [src]="profile_image" [alt]="user.name">
        <div class="card-title">{{user.mascotas[0].pet_name}}</div>
        <div class="card-subtitle">{{user.mascotas[0].raza}}</div>
    </ion-card>
    <ion-list>
        <ion-item detail>
            <ion-label>Editar</ion-label>
        </ion-item>
        <ion-item href="/tabs/home" (click)="close_session()">
            <ion-icon name="md-contact"></ion-icon>
            <ion-label>Close</ion-label>
        </ion-item>
    </ion-list>
</ion-content>